Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}" title="Home">Home</a></li>
  <li><a href="{{ '/Type-Chart' | relative_url }}" title="Type Chart">Type Chart</a></li>
  <li><a href="{{ '/Puppets' | relative_url }}" title="Puppets">Puppets</a></li>
  <li><a href="{{ '/Skills' | relative_url }}" title="Skills">Skills</a></li>
  <li><a href="{{ '/Abilities' | relative_url }}" title="Abilities">Abilities</a></li>
  <li><a href="{{ '/Items' | relative_url }}" title="Items">Items</a></li>
  <li><a href="{{ '/Puppet-Status' | relative_url }}" title="Puppet Status">Puppet Status</a></li>
  <li><a href="{{ '/Field-Effects' | relative_url }}" title="Field Effects">Field Effects</a></li>
</ul>
