Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/Type-Chart' | relative_url }}">Type Chart</a></li>
  <li><a href="{{ '/Puppets' | relative_url }}">Puppets</a></li>
  <li><a href="{{ '/Skills' | relative_url }}">Skills</a></li>
  <li><a href="{{ '/Abilities' | relative_url }}">Abilities</a></li>
  <li><a href="{{ '/Items' | relative_url }}">Items</a></li>
  <li><a href="{{ '/Puppet-Status' | relative_url }}">Puppet Status</a></li>
  <li><a href="{{ '/Field-Effects' | relative_url }}">Field Effects</a></li>
</ul>
