h1 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }
h2 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }
h3 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }
h4 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }
h5 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }
h6 {
  font-family: "Linux Libertine", Georgia, Times, serif;
  }

body {
    font-family: sans-serif;
    font-size: 14px;
    color:#252525;
    }
