{% include git-wiki/defines/defines.html %}

<!doctype html>
<html>
<head>
    {% if site.inc_before_head %}
    {% include {{ site.inc_before_head }} %}
    {% endif %}

    {% include git-wiki/sections/head/meta.html %}

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="{{ '/assets/js/checkLinks.js' | relative_url }}"></script>
    
    {% include git-wiki/sections/head/styles.html %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css">
    
    
    {% if site.inc_after_head %}
    {% include {{ site.inc_after_head }} %}
    {% endif %}
</head>

<body>
    <div class="wrapper">
                {% include git-wiki/sections/header/header.html %}
                <div class="git-wiki-page">
                    {% include git-wiki/sections/tools/tools.html %}

                    {% if site.inc_before_content %}
                    {% include {{ site.inc_before_content }} %}
                    {% endif %}

                    <div id="git-wiki-content">
                        {{ content }}
                    </div>

                    {% if site.inc_after_content %}
                    {% include {{ site.inc_after_content }} %}
                    {% endif %}
        </div>

        <div class="row">
            <div class="col">
                {% include git-wiki/sections/footer/footer.html %}
            </div>
        </div>
    </div>

    {% include git-wiki/sections/tail/tail.html %}
</body>

</html>
